{{/* {{< codeblock lang="c" filename="main.c" >}} code {{< /codeblock >}} */}}
{{ $lang     := .Get "lang"     | default "text" }}
{{ $filename := .Get "filename" | default "" }}

<div class="codeblock">
  <div class="codeblock-bar">
    <span class="dot dot--red"></span>
    <span class="dot dot--yellow"></span>
    <span class="dot dot--green"></span>
    {{ if $filename }}<span class="codeblock-filename">{{ $filename }}</span>{{ end }}
    <button class="codeblock-copy" type="button" aria-label="Copy code">copy</button>
  </div>
  <div class="codeblock-body">
    {{ highlight (trim .Inner "\n") $lang "" }}
  </div>
</div>
